/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Mei 17, 7:08:10
    Author     : imam
*/
body{
    background: #131720;
    font-family: 'Open Sans',sans-serif;
    color: #222;
    padding: 0;
    border-top: 5px solid #ED145B;
    margin: 0;
}

#tabs-box{
    background: #131720;
    width: 100%;
}

.title{
    text-transform: uppercase;
}

.title span{
    color:#fff;
    font-weight: 800;
    padding: 20px;
    font-size: 25px;
    background: #E55270;
    border-bottom:5px solid #fc3;
    border-radius: 20px;
}
.contant-box{
    background: #131720;
    width: 100%;
    padding-top:0;
    margin: 40px 0;
    display: none;
}

.text-profile{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 50px;
    padding-bottom: 10px;
}

.bunkus-text{
    border-left: 4px solid #fc3;
    padding-bottom: 5px;
}
.text-profile p{
    color:#ED145B;
    display: inline;
}

.text-profile span{
    letter-spacing: 10px;
    font-size: 54px;
}
.p-profile{
    color:#fff;
    text-transform: uppercase;
    padding-left: 50px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 18px;
}

#foto-profile{
    overflow: hidden;
    position: relative;
    height: 300px;
}

#foto-profile img{
    position: absolute;
    width: 100%;
}

.box-hover{
    position: absolute;
    z-index: 99;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 23, 32, 0.5);
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}

#foto-profile:hover .box-hover{
    background: rgba(237, 20, 91, 0.1);
    height: 300px;
    border: 4px solid #fc3;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}
.menu-service{
    padding: 0;
}
.menu-service i{
    padding: 15px 0;
    font-size: 60px;
    color:#131720;
}
.menu-service li{
    position: relative;
    background: #1F242F;
    height: 250px;
    list-style: none;
    padding-top: 15px;
    cursor: pointer;
}
.menu-service a{
    position: absolute;
    color: #B0B7CA;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-size: 25px;
    padding-top: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.active-tabs{
    padding-top: 8px !important;
    border-top: 7px solid #ED145B;
    border-bottom: 7px solid #ED145B;
    background: #131720 !important;
}

.active-tabs a, .active-tabs i{
    color:#fc3 !important;
}
.active-tabs p{
    color:#fff !important;
}
.menu-service li:hover{
    border-top: 7px solid #ED145B;
    border-bottom: 7px solid #ED145B;
    background: #131720 !important;
    padding-top: 8px !important;
}

.menu-service li:hover a{
    color:#fc3 !important;
}
.menu-service li:hover i{
    color:#fc3 !important;
}
.menu-service li:hover p{
    color:#fff !important;
}
.menu-service a p{
    line-height: 20px;
    color: #b4bccf;
    font-size: 15px;
    padding: 15px;
}

.tabs-content-active{
    display: inherit;
}

.box-isi{
    background: url('../../assets/images/1a9c2f9c-a7cc-4635-9ff6-153c0c1d705b.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 0.5s ease-in 0.5s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}

.project-img{
    width:100%;
    height: 135px;
    overflow: hidden;
    margin:8px 0;
}

.project-img img{
    width: 100%;
}

.project-img:hover .box-hover{
    background: rgba(237, 20, 91, 0.1);
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}
.skill-box{
    width: 100%;
    padding: 20px 0;
    background: #ED145B;
    margin: 10px 0;
    border:15px solid #1F242F;
    cursor: pointer;
}

.skill-box:hover{
    background: #fc3;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}
.skill-box h1{
    color: #fff;
    text-align: center;
    margin: 0;
}
.skill-box p{
    color:#fff;
    text-align: center;
}

.box-email-input{
    width: 100%;
    background: #1F242F;
    padding:30px 0;
}

.box-cv{
    width: 100%;
    background: #1F242F;
    padding:50px 0;
    padding-bottom: 150px;
}

.box-cv h1{
    color:#fff;
    text-align:center;
    font-weight: 900;
    margin:0;
}
.box-cv input{
    background-color: #131720;
    color: #ffffff;
    line-height: 16px;
    border-radius: 0;
    border: 1px solid #131720;
    padding: 0 12px;
    height: 50px;
    position: absolute;
    width: 500px;
    margin:auto;
    right: 0;
    left: 0;
}
.box-btn{
    position: relative;
    width:100%;
}
.btn-ping{
    width: 150px;
    position: absolute;
    background-color: #ed145b;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 45px;
    font-size: 20px;
    line-height: 19px;
    font-weight: 700;
    border: none;
    outline-style: none;
    outline:none;
    margin:50px auto;
    right: 0;
    left: 0;

}

.hidden{
    display:none;
}

.shhow{
    display: inherit;
}
.alert{
    margin-bottom: 0 !important;
}
@media (max-width:990px) {
    .project-img{
        height: 170px;
    }
    .box-isi{
        background-size: 100%;

    }
    .box-cv{
        margin-top: 250px;
    }
}
#notif{
    cursor: pointer;
}
.msg-error{
    color:#e74c3c;
    font-size: 23px;
    text-align: center;
    background: #131720;
    width: 100%;
    padding: 20px;
}

.msg-success{
    color:#2ecc71;
    font-size: 23px;
    text-align: center;
    background: #131720;
    width: 100%;
    padding: 20px;
}